<nav class="navbar navbar-expand-lg bg-warning">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../assets/logo.png" alt="logo" height="40" />
        </a>
        <div class="navbar-nav mx-auto">
            <a class="nav-link fs-6" href="#"
                ><i class="bi bi-house-door"></i> Ana Sayfa</a
            >
            <a class="nav-link fs-6" href="#"
                ><i class="bi bi-chat"></i> Mesajlar</a
            >
            <a class="nav-link fs-6" href="#"
                ><i class="bi bi-newspaper"></i> Haberler</a
            >
            <a class="nav-link fs-6" href="#"
                ><i class="bi bi-person-badge"></i> Danışmanlar</a
            >
            <div class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle text-white rounded-pill px-4 fs-6 bg-secondary"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                >
                    <i class="bi bi-person-circle"></i> Profil
                </a>
            </div>
        </div>
        <div class="position-relative">
            <i class="bi bi-bell-fill fs-4"></i>
            <span
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                >+9</span
            >
        </div>
    </div>
</nav>
