<nav class="navbar navbar-expand-lg bg-warning">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../assets/logo.png" alt="logo" height="40" />
        </a>
        <div class="navbar-nav mx-auto">
            <a class="nav-link align-middle fs-6" href="#"
                ><img src="../assets/icons/HouseStroke_icon.png" alt=""> Ana Sayfa</a
            >
            <a class="nav-link fs-6" href="#"
                ><img src="../assets/icons/Message_icon.png" alt=""> Mesajlar</a
            >
            <a class="nav-link fs-6" href="#"
                ><img src="../assets/icons/News_icon.png" alt=""> Haberler</a
            >
            <a class="nav-link fs-6" href="#"
                ><img src="../assets/icons/award-fill.png" alt=""> Danışmanlar</a
            >
            <div class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle text-white rounded-pill px-4 fs-6 bg-secondary"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                >
                    <img src="../assets/icons/Profile_icon.png" alt=""> Profil
                </a>
            </div>
        </div>
        <div class="position-relative">
            <img src="../assets/icons/Bell_icon.png" alt="">
            <span
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                >+9</span
            >
        </div>
    </div>
</nav>
