<div class="sidebar text-white">
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item bg-transparent text-white fs-6"
            ><i class="bi text-warning bi-calendar-check"></i> Ajandam</a
        >
        <a href="#" class="list-group-item bg-transparent text-white fs-6"
            ><i class="bi text-warning bi-lightning"></i> Hızlı Sunum</a
        >
        <a href="#" class="list-group-item bg-transparent text-white fs-6"
            ><i class="bi text-warning bi-folder"></i> Portföylerim</a
        >
        <a href="#" class="list-group-item bg-transparent text-white fs-6"
            ><i class="bi text-warning bi-house"></i> Emlak Araçları</a
        >
        <a href="#" class="list-group-item bg-transparent text-white fs-6"
            ><i class="bi text-warning bi-people"></i> Müşteriler</a
        >
        <a href="#" class="list-group-item bg-transparent text-white fs-6"
            ><i class="bi text-warning bi-graph-up"></i> Veri Analizi</a
        >
        <a href="#" class="list-group-item bg-transparent text-white fs-6"
            ><i class="bi text-warning bi-calculator"></i> Emlak Değerleme</a
        >
        <a href="#" class="list-group-item bg-transparent text-white fs-6"
            ><i class="bi text-warning bi-journal-text"></i> Muhasebem</a
        >
        <div class="border-top my-3 border-secondary"></div>
        <a href="#" class="list-group-item bg-transparent text-white fs-6"
            ><i class="bi text-warning bi-credit-card"></i> Abonelik</a
        >
        <a href="#" class="list-group-item bg-transparent text-white fs-6"
            ><i class="bi text-warning bi-cart-plus"></i> Ekstra Doping</a
        >
        <a href="#" class="list-group-item bg-transparent text-white fs-6"
            ><i class="bi text-warning bi-calendar"></i> Ekonomik Takvim</a
        >
        <a href="#" class="list-group-item bg-transparent text-white fs-6"
            ><i class="bi text-warning bi-gear"></i> Ofis Ayarları</a
        >
        <a href="#" class="list-group-item bg-transparent text-white fs-6"
            ><i class="bi text-warning bi-share"></i> Referanslar</a
        >
        <a href="#" class="list-group-item bg-transparent text-white fs-6"
            ><i class="bi text-warning bi-question-circle"></i> Destek</a
        >
        <a href="#" class="list-group-item bg-transparent text-danger fs-6"
            ><i class="bi text-warning bi-box-arrow-right"></i> Çıkış Yap</a
        >
    </div>
</div>
