<div class="sidebar text-white">
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item bg-transparent text-white fs-6"
            ><img src="../assets/icons/calendar.png" alt=""> <span class="ms-2">Ajandam</span></a
        >
        <a href="#" class="list-group-item bg-transparent text-white fs-6"
            ><img src="../assets/icons/doc.png" alt=""> <span class="ms-2">Hızlı Sunum</span></a
        >
        <a href="#" class="list-group-item bg-transparent text-white fs-6"
            ><img src="../assets/icons/pack.png" alt=""> <span class="ms-2">Portföylerim</span></a
        >
        <a href="#" class="list-group-item bg-transparent text-white fs-6"
            ><img src="../assets/icons/housepack.png" alt=""> <span class="ms-2">Emlak Araçları</span></a
        >
        <a href="#" class="list-group-item bg-transparent text-white fs-6"
            ><img src="../assets/icons/people.png" alt=""> <span class="ms-2">Müşteriler</span></a
        >
        <a href="#" class="list-group-item bg-transparent text-white fs-6"
            ><img src="../assets/icons/calculator.png" alt=""> <span class="ms-2">Veri Analizi</span></a
        >
        <a href="#" class="list-group-item bg-transparent text-white fs-6"
            ><img src="../assets/icons/housepeople.png" alt=""> <span class="ms-2">Emlak Değerleme</span></a
        >
        <a href="#" class="list-group-item bg-transparent text-white fs-6"
            ><img src="../assets/icons/contacts.png" alt=""> <span class="ms-2">Muhasebem</span></a
        >
        <div class="border-top my-3 border-secondary"></div>
        <a href="#" class="list-group-item bg-transparent text-white fs-6"
            ><img src="../assets/icons/bank-card-fill.png" alt=""> <span class="ms-2">Abonelik</span></a
        >
        <a href="#" class="list-group-item bg-transparent text-white fs-6"
            ><img src="../assets/icons/shopping-cart-fill.png" alt=""> <span class="ms-2">Ekstra Doping</span></a
        >
        <a href="#" class="list-group-item bg-transparent text-white fs-6"
            ><img src="../assets/icons/shopping-cart-fill.png" alt=""> <span class="ms-2">Ekstra Doping</span></a
        >
        <a href="#" class="list-group-item bg-transparent text-white fs-6"
            ><img src="../assets/icons/calendar-fill.png" alt=""> <span class="ms-2">Ekonomik Takvim</span></a
        >
        <a href="#" class="list-group-item bg-transparent text-white fs-6"
            ><img src="../assets/icons/fa-solid_users.png" alt=""> <span class="ms-2">Referanslar</span></a
        >
        <a href="#" class="list-group-item bg-transparent text-white fs-6"
            ><img src="../assets/icons/settings-5-fill.png" alt=""> <span class="ms-2">Ofis Ayarları</span></a
        >
        <a href="#" class="list-group-item bg-transparent text-white fs-6"
            ><img src="../assets/icons/Help circle.png" alt=""> <span class="ms-2">Destek</span></a
        >
        <a href="#" class="list-group-item bg-transparent text-danger fs-6"
            ><img src="../assets/icons/logout-box-line.png" alt=""> <span class="ms-2">Çıkış Yap</span></a
        >
    </div>
</div>
